@import "./base.css";

html {
  scroll-behavior: smooth;
}
body {
  background-color: #221e32;
  color: #eae9eb;
}

#app {
  padding: 0 4rem 4rem 4rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
}
